<p>Username: <span>{{ speaker.username }}</span></p>
<p>First Name: <span>{{ speaker.FirstName }}</span></p>
<p>Last Name: <span>{{ speaker.LastName }}</span></p>
<p>Email: <span>{{ speaker.email }}</span></p>
<p>Mobile: <span>{{ speaker.mobile }}</span></p>
<p>Emergency Contact: <span>{{ speaker.EmergencyContactName }}</span></p>
<p>Emergency Contact Number: <span>{{ speaker.EmergencyContactNumber }}</span></p>
<p>GitHub: <span>{{ speaker.GitHub }}</span></p>
<p>Twitter: <span>{{ speaker.Twitter }}</span></p>
<p>LinkedIn: <span>{{ speaker.LinkedIn }}</span></p>
